:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #282828;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #434cf9;
    text-decoration: inherit;
}

button {
    background-color: #ff7615;
    font-weight: 600;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}
