:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #282828;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #434cf9;
    text-decoration: inherit;
}

button {
    background-color: #ff7615;
    font-weight: 550;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}

.loading-dots {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color: orange;
    font-weight: bold;
    gap: 5px;
}

    .loading-dots .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: orange;
        animation: blink 1.5s infinite;
    }

        .loading-dots .dot:nth-child(1) {
            animation-delay: 0s;
        }

        .loading-dots .dot:nth-child(2) {
            animation-delay: 0.3s;
        }

        .loading-dots .dot:nth-child(3) {
            animation-delay: 0.6s;
        }

@keyframes blink {
    50% {
        opacity: 0;
    }
}