.account-section {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f9f9f9;
    max-width: 700px;
    width: 100%;
}

    .account-section h2 {
        margin-bottom: 1rem;
    }

    .account-section div {
        margin-bottom: 6px;
    }

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

.account-section button {
    margin-right: 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #8A8989;
}

    button:hover {
        opacity: 0.8;
    }

    button[style*="background-color: red"] {
        background-color: red;
    }

    button[style*="background-color: lightgray"] {
        background-color: #8A8989;
    }
