.footer {
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}


.footer-content a {
    text-decoration: none;
    margin: 0 10px;
}

    .footer-content a:hover {
        text-decoration: underline;
    }

.footer p {
    margin: 5px 0;
    font-size: 14px;
}
